# The following github users/groups will be added to PR as reviewers automatically
# For reference check https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*           @getgoing/ops
